.badan {
  background-color: inherit;
}


.jumbotron {
  background-size: cover;
  padding-top: 550px;
}



.container2 {
  margin-top: 15%;
}


.kaki {
  margin-top: 30%;
  text-align: center;
}




