.badan {
  background-color: whitesmoke;
}

@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}

.jumbotron {
  background-image: url('header.jpg');
  background-size: cover;
  padding-top: 550px;
}

.carousel-inner {
  width: 80%;
  height: 80%;
  margin-left: 125%;
  margin-top: -30%;
}

.container2 {
  margin-top: 15%;
}

.container3 {
  width: 80%;
  height: 80%;
  margin-left: 125%;
  margin-top: -85%;
}

.kaki {
  margin-top: 30%;
  text-align: center;
}




