.badan {
  background-color: inherit;
}

@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}

.jumbotron {
  background-size: cover;
  padding-top: 550px;
}



.container2 {
  margin-top: 15%;
}


.kaki {
  margin-top: 30%;
  text-align: center;
}




